.project-list-wrapper {
    display:flex;
}

.project-article {
    border:  1px black solid;
    background: linear-gradient(75deg,#2f3c68,#46274a);
    max-width: 600px;
    border-radius: 3px;
    padding: 20px;
    padding-top: 10px;
    margin: 10px;
}

.project-article a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
}

.project-article img{
    max-width: 600px;
    filter:brightness(70%);
}

.article-title {
    font-size: 24px;
    margin: 5px;
    margin-bottom: 10px;
}

.article-links{
    position: inherit;
    bottom: 0px;
}