.project-wrapper {
    display:flex;
}

.project-article {
    border:  2px red solid;
    max-width: 600px;
    border-radius: 30px;
    padding: 20px;
    padding-top: 10px;
    margin: 10px;
}

.project-article a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border: 1px blue solid;
    border-radius: 50px;
}

.project-article img{
    max-width: 600px;
}

.article-title {
    font-size: 24px;
    margin: 5px;
    margin-bottom: 10px;
}