#root {
  margin: 0 auto;
  text-align: center;
}

.content {
  margin-top: 0px;
  margin-left: 4rem;
  margin-right: 4rem;
}

p{
  font-size: 20px;
}

h3 {
  font-size: 36px;
  margin-top: 2px;
  margin-bottom: 20px;
}
h4 {
  font-size: 30px;
  margin: 1px;
  margin-top: 5px;
}
.logo-big {
  width: 50px;
  height: 50px;
}

.logo {
  width: 30px;
  height: 30px;
}